@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import "tailwindcss";

:root {
  --bg-main: #0a0a0a;
  --bg-card: #111111;
  --text-primary: #f5f5f5;
  --text-secondary: #9ca3af;
  --text-accent: #f9a8d4;
  --border-color: #1f2937;
  --border-accent: #f472b6;
  --border-light: #f5f5f5;
  --border-secondary: #9ca3af;
  --hover-accent: #ec4899;
  --selection-bg: #f9a8d4e3;
  --selection-text: black;
}

/* globals.css */
.custom-font {
  font-family: 'Birthstone', cursive;
  font-weight: 300;
}

.bg-main { background-color: var(--bg-main); }
.bg-card { background-color: var(--bg-card); }

.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }
.text-accent { color: var(--text-accent); }

.border-main { border-color: var(--border-color); }
.border-accent { border-color: var(--border-accent); }
.border-light { border-color: var(--border-light); }
.border-secondary { border-color: var(--border-secondary); }

.hover\:border-light:hover { border-color: var(--border-light); }
.hover\:text-primary:hover { color: var(--text-primary); }
.hover\:text-accent:hover { color: var(--text-accent); }
.hover\:border-accent:hover { border-color: var(--border-accent); }

.selection-custom::selection {
  background-color: var(--selection-bg);
  color: var(--text-primary);
}

::selection {
  background-color: #ffffff20; 
  color: inherit;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
